html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
}

.invisible {
	display: none !important;
}

.visible {
	display: flex !important;
}

#add-server-form {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.right {
	float: right;
}

.header-footer-button {
	margin-right: 10px;
}

.fix-height {
	height: 100%;
	max-height: 100%;
	overflow: hidden;
}

.add-server-form-row {
	margin-bottom: 16px;
}

.add-server-button {
	width: 100px;
	border: none;
}
