html,
body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*height: 100vh;*/
}

.invisible {
	display: none !important;
}

.visible {
	display: flex;
}

#add-server-form {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.right {
	float: right;
}

#terminal-container .terminal.xterm {
	height: 100%;
}
#terminal-container .xterm-viewport {
	height: 100% !important;
}
