/* 기본적인 element 공통 css 스타일은 여기서 제공 */

html,
body {
	margin: 0;
	height: 100vh;
	box-sizing: border-box;
	width: 100%;
}

#root {
	height: 100%;
}

*:focus {
	outline: none;
}

/* modal background */
.ReactModal__Overlay.ReactModal__Overlay--after-open {
	z-index: 5;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.split {
	display: flex;
}

.gutter {
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
	cursor: col-resize;
}

/* button size */
.button_large {
	font-size: 24px;
}
.button_midium {
	font-size: 20px;
}
.button_small {
	font-size: 18px;
}
.button_micro {
	font-size: 16px;
}

/* button color */

/* font weight */
.weight_bold {
	font-weight: bold;
}
