/* 기본적인 element 공통 css 스타일은 여기서 제공 */

html,
body {
	margin: 0;
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
	font-family: Roboto;
}

#root {
	height: 100%;
	width: 100%;
}

*:focus {
	outline: none;
}

/*input type number up down arrow*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

/* modal background */
.ReactModal__Overlay.ReactModal__Overlay--after-open {
	z-index: 5;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.split {
	display: flex;
}

.gutter {
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
	cursor: col-resize;
}

/* button size */
/*기본 버튼 사이즈가 24px 이라서 className을 부여하지 않아도 됨*/
.button_super {
	font-size: 50px;
}

.button_midium {
	font-size: 20px;
}
.button_small {
	font-size: 18px;
}
.button_micro {
	font-size: 16px;
}

/* button color */

/* font weight */
.weight_bold {
	font-weight: bold;
}

/*블러처리*/
.blurEffect {
	filter: blur(3px);
	-webkit-filter: blur(3px);
}
